---
- name: Install EPEL repo
  yum: name=epel-release state=present

- name: Install basic packages
  yum: name={{ item }} state=present
  with_items:
    - nss-mdns
    - net-tools
    - telnet
    - tcpdump
    - lsof
    - strace
    - wget
    - mlocate
    - setroubleshoot
    - setroubleshoot-server

- name: Install Java
  yum: name={{ item }} state=present
  with_items:
    - java-1.8.0-openjdk-devel
    - java-1.8.0-openjdk
  when: not inventory_hostname | search("nginx") 

- name: Configure mDNS
  lineinfile:
    path: /etc/avahi/avahi-daemon.conf
    regexp: '^#allow-interfaces=eth0'
    line: 'allow-interfaces=eth1'
    state: present
    backrefs: yes
  notify: Restart mDNS service 
